@import "../../GeneralStyle/General.scss";


.header_boxed {
    &-inner {
        @include NoMarginCentred;
        width: 100%;

        &-nav {
            @include boxedContent;
            border-bottom: solid 2px $colorSecondary;
            padding: 15px 0;

            &-ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                &-logo {
                    width: 40%;
                    max-width: 120px;
                    @include NoMarginCentred;

                    &-img {
                        width: 100%;
                        @include PaddingSmall;
                    }

                }

                &-cart {
                    width: 20%;
                    max-width: 100px;
                    position: relative;
                    @include NoMarginCentred;

                    &-span {
                        background-color: $colorDark;
                        color: $colorWhite;
                        padding: 0 10px;
                        line-height: 2;
                    }

                    &-img {
                        width: 50%;
                        min-width: 50px;
                        @include PaddingSmall;
                    }
                }
            }
        }
    }

}