.pagination {
   
    &_inner { 
        margin: 3em 0 5em;
        &-module {
            ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                margin: 0 5px;
                button{
                    border: none;
                    font-size: 1.2em;
                    padding: 0 10px;
                    background: transparent;
                    color: lightgray;
                    cursor: pointer;
                    &:hover{
    
                        color: gray; 
                  }
                  &.active, &.arrow{ 
                    color: black;
                  }
              }
          }
        } 
    } 
  }
   
}
 